
.cutout {
  clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - (30px * 1.73)) 100%, 0 100%, 0 0);
}

.card-container {
  width: 300px;
  margin: 50px auto 0;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  padding: 30px;
  line-height: 1.5em;
}
.card > *:first-child { margin-top: 0; }
.card > *:last-child { margin-bottom: 0; }

.purple-card {
  background: linear-gradient(to top right, #521a63, #ac27a7);
  color: white;
}

.btn {
  background-color: #508eca;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 1px;
}